# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenvs
venv/
env/
.env/

# Django settings/env
*.env
*.local
*.dev
*.prod
*.staging

# Logs
*.log

# DB files
*.sqlite3

# Coverage/tests
coverage/
*.tox/
*.nox/
*.coverage
*.hypothesis/
*.pytest_cache/

# Django collectstatic + media uploads
static/
media/

# OS/editor
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Docker host files (don’t send to context)
Dockerfile
.dockerignore
docker-compose*.yml
